:root{
	--halfMargin: 5px; /*Represents HALF of the spacing between brick-like items. Therefore, EVERY element must have it on all sides*/

	--guiColor: #999;
	--guiBorderColor: #bbb;
	--textBGColor: #222;
	--runColor: #4f4;
	--runBorderColor: #4f4;
	--disabledColor: #888;
	--disabledBorderColor: #888;
	--resetColor: #f44;
	--resetBorderColor: #f44;
	--blackPaper: url("media/black.png");
}

*{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
}

html{
}

body{
	background-color: var(--guiColor);
	/* background-image: url("media/grey.png"); */
	margin: 5px;
}
textarea, select, input, button{
	outline: none;
}

/**/

.rowBox{
	display: flex;
	flex-direction: row;
}
.colBox{
	display: flex;
	flex-direction: column;
}
.bigBox{
	flex-grow: 999;
}
.centerBox{
	align-items: center;
}
.stretch{
	align-items: stretch;
}

/**/

.sliderContainer{
	border: 5px outset var(--guiBorderColor);
	padding: 5px;
	margin: var(--halfMargin);
	user-select: none;
}
	.sliderName{
	}
	.range{
		margin-left: 5px;
		margin-right: 5px;
	}
	.sliderReadout{
	}

.bigButton{
	width: 120px;
	height: 60px;
	font-size: 30px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	margin: var(--halfMargin);
}
#run{
	background-color: var(--runColor);
	border: 5px outset var(--runBorderColor);
}
#run:active{
	border: 5px inset var(--runBorderColor);
}
#run.disabled{
	padding-top: 0px;
	padding-left: 0px;
	border: 5px inset var(--disabledBorderColor);
	background-color: var(--disabledColor);
}
#stop{
	background-color: var(--resetColor);
	border: 5px outset var(--resetBorderColor);
}
#stop:active{
	border: 5px inset var(--resetBorderColor);
}

#input{
	background-image: var(--blackPaper);
	background-color: var(--textBGColor);
	color: #fff;
	padding: 10px;
	border: 5px inset var(--guiBorderColor);
	resize: none;
	flex-grow: 2;

	margin: var(--halfMargin);
}

#console{
	background-image: var(--blackPaper);
	background-color: var(--textBGColor);
	border: 5px inset var(--guiBorderColor);
	overflow-y: scroll;
	color: #fff;
	overflow-wrap: break-word;
	padding: 10px;

	flex-basis: 0;
	flex-grow: 4;

	margin: var(--halfMargin);
}
#inventory{
	background-image: var(--blackPaper);
	background-color: var(--textBGColor);
	border: 5px inset var(--guiBorderColor);
	overflow-y: hidden;
	color: #fff;
	overflow-wrap: break-word;
	padding: 10px;

	flex-grow: 1;
	margin: var(--halfMargin);

}

#map{
	background-image: var(--blackPaper);
	margin: var(--halfMargin);
	background-color: var(--textBGColor);
	position: relative;
	border: 5px inset var(--guiBorderColor);
	user-select: none;
}
	.turtle{
		position: absolute;
		background-color: #00f;
		background-image: url("media/turtle.png");
		background-size: 100%;
		transform: rotate(0deg);
	}
	#env{
		background-color: rgba(0, 0, 0, 0%);
		width: 100%;
		height: 100%;
	}
		.materialNode{
			position: absolute;
			font-size: 8px;
			color: #fff;
		}
	#start{
		background-color: var(--runColor);
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
	}
