*{
	margin: 0px;
	padding: 0px;
	font-family: "Roboto Mono";
}

html{
}

body{
	padding: 20px;
	background-color: #444;
}

.generalPanel{
}

#container{
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #888;

	padding: 20px;

	border: 5px outset #aaa;
}
	#topContainer{
		display: flex;
		flex-direction: row;
		justify-content: center;

		margin-bottom: 20px;
	}
		#nameInput{
			width: 200px;
			height: 30px;
		}
	#midContainer{
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
	}
		#input{
			background-color: #222;
			color: #fff;
			padding: 10px;
			border: 5px inset #aaa;

			resize: none;
			margin-right: 20px;

			flex-grow: 1;
			max-width: 800px;
		}
		#map{
			margin: none;
			background-color: #222;
			position: relative;

			border: 5px inset #aaa;
		}
			#turtle{
				position: absolute;

				width: 50px;
				height: 50px;
				background-color: #00f;
				background-image: url("media/turtle.png");
				background-size: 100%;
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				transform: rotate(0deg);
			}
				#turtleName{
					text-align: center;
					font-size: 10px;
					color: #fff;
				}
	#bottomContainer{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		margin-top: 20px;

		user-select: none;
	}
		#run{
			display: flex;
			justify-content: center;
			align-items: center;

			width: 100px;
			height: 60px;
			background-color: #7f7;
			border: 5px outset #7f7;

			font-size: 30px;
			font-weight: bold;

			margin-right: 20px;
		}
		#run:active{
			border: 5px inset #7f7;
		}
		#dPad{
			border: 5px inset #aaa;
		}
			.dPadRow{
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				user-select: none;
			}
				.dPadElemContainer{
					width: 25px;
					height: 25px;
				}
				.dPadElemContainer.dPadRaised{
					border: 5px outset #aaa;
					display: inline-flex;
					justify-content: center;
					align-items: center;
				}
				.dPadElemContainer.dPadRaised:active{
					border: 5px inset #aaa;
					display: inline-flex;
					justify-content: center;
					align-items: center;
				}
					.dPadElemContainer img{
						height: 100%;
						width: 100%;
						margin: -5px;
						padding: 5px;
					}
					#dPad3{transform: scaleX(-1)}
					#dPad4{transform: rotate(-90deg)}
					#dPad6{transform: rotate(90deg)}
					#dPad8{transform: scaleY(-1)}
